<div id="navigationBar">
	<div id="navigationBarLocation">Location: <strong>Repository Overview</strong></div>
	<div id="navigationBarLogin">Logged in as <strong><%= login.username %></strong></div>
</div>

<div id="titleBar">
	Repository Overview
</div>

<% if (login.isAdmin || login.isCreator) { %>
	<div id="filterBox">
		<div class="filterBoxBlock">
			<div id="createRepository" class="button">Create new repository</div>
		</div>
		<div class="clear"></div>
	</div>

<% } %>

<div id="repositoryList">

	<% if (repositories.length == 0) { %>

		<div class="emptyView">There are no repositories visible to you at the moment.</div>

	<% } else { %>

		<% for (var i = 0; i < repositories.length; i++) { %>

		<div class="repositoryListItem" data-alias="<%= repositories[i]['repositoryAlias'] %>">
			<div class="repositoryListBlock">
				<% if (login.isAdmin || repositories[i]['repositoryOwner'] == login.username) { %>
					<span class="editRepository">Edit</span>
				<% } %>
				<h1><%= repositories[i]['repositoryAlias'] %></h1>
				<div class="description"><% if (repositories[i]['repositoryDescription'] == null || repositories[i]['repositoryDescription'] == "") { %>(no description)<% } else { %><%= repositories[i]['repositoryDescription'] %><% } %></div>
				<h2>URL to Repository</h2>
				<p><% if (repositories[i]['repositoryUrl'] == null || repositories[i]['repositoryUrl'] == "") { %>(empty)<% } else { %><%= repositories[i]['repositoryUrl'] %><% } %></p>
				<h2>Users</h2>
				<p>
					<span class="userSmall userOwner"><%= repositories[i].repositoryOwner %></span>
			        <% for (var j = 0; j < repositories[i]['users'].length; j++) { %>
			        	<% if (repositories[i]['users'][j] == repositories[i].repositoryOwner) continue; %>
			        	<span class="userSmall"><%= repositories[i]['users'][j] %></span>
			        <% } %>
		        </p>
			</div>
		</div>

		<% } %>

	<% } %>

</div>
