<div id="header">
	<div id="headerLogin">
		Logged in as <strong><%= login.username %></strong>
		<% if (login.isAdmin) { %> &mdash; <span id="manageUsers">Manage users</span><% } %>
	</div>
	<span id="headerLogo">RTCA Web Interface</span>
</div>
<div id="navigationBar">
	<span id="refresh">Refresh</span>
	<span id="navigationLocation"><span class="loadRepositoryView clickable">All Repositories</span> &mdash; Repository: <strong><%= repositoryAlias %></strong></span>
</div>
<div id="view">

	<table id="branchTable">
	    <tr>
	    	<th>Branch vs. origin</th>
	    	<% if (branches.length > 0) { %>
	 			<% for (var j = 0; j < branches[0].users.length; j++) { %>
	 				<th><span class="user"><%= branches[0].users[j].username %></span></th>
	 			<% } %>
	    	<% } %>
	    	<th></th>
    	</tr>
		<% for (var i = 0; i < branches.length; i++) { %>
		    <tr class="branch clickable" data-branch="<%= branches[i]['branch'] %>">
		        <td><span class="blue"><%= branches[i]['branch'] %></span></td>
	 			<% for (var j = 0; j < branches[i].users.length; j++) { %>
	 				<% if (branches[i].users[j].relationWithOrigin == 'equal') { %><td class="branchEqual">
	 				<% } else if (branches[i].users[j].relationWithOrigin.match(/in front$/)) { %><td class="branchInFront">
	 				<% } else if (branches[i].users[j].relationWithOrigin.match(/behind$/)) { %><td class="branchBehind">
	 				<% } else { %><td><% } %>
	 				<%= branches[i].users[j].relationWithOrigin %></td>
	 			<% } %>
	 			<td></td>
		    </tr>
		<% } %>
	</table>
</div>
