<div id="header">
	<div id="headerLogin">
		Logged in as <strong><%= login.username %></strong>
		<% if (login.isAdmin) { %> &mdash; <span id="manageUsers">Manage users</span><% } %>
	</div>
	<span id="headerLogo">RTCA Web Interface</span>
</div>
<div id="navigationBar">
	<span id="refresh">Refresh</span>
	<span id="navigationLocation"><span class="loadRepositoryView clickable">All Repositories</span> &mdash; Repository: <span class="loadBranchView clickable"><%= repositoryAlias %></span> &mdash; Branch: <strong><%= branch %></strong></span>
</div>
<div id="view">
	View uncommitted:
	<input type="checkbox" id="filterShowUncommitted"<% if (showUncommitted) { %> checked <% } %>>
	<div id="submitFilter"><strong>Go!</strong></div>

	<br>

	<table id="fileTable">
	    <tr>
	    	<th>Filename</th>
	    	<% if (files.length > 0) { %>
	 			<% for (var j = 0; j < files[0].users.length; j++) { %>
	 				<th><span class="user"><%= files[0].users[j].username %></span></th>
	 			<% } %>
	    	<% } %>
	    	<th></th>
    	</tr>
		<% for (var i = 0; i < files.length; i++) { %>
		    <tr class="static">
		        <td><span class="blue"><%= files[i]['filename'] %></span></td>
	 			<% for (var j = 0; j < files[i].users.length; j++) { %>
	 				<% if (files[i].users[j].type == 'equal') { %>
	 					<td class="clickable fileAndUser fileEqual" data-filename="<%= files[i]['filename'] %>" data-username="<%= files[i].users[j].username %>"><%= files[i].users[j].type %></td>
	 				<% } else if (files[i].users[j].type == 'conflict' || files[i].users[j].type == 'delete') { %>
	 					<td class="clickable fileAndUser fileConflict" data-filename="<%= files[i]['filename'] %>" data-username="<%= files[i].users[j].username %>"><%= files[i].users[j].type %></td>
	 				<% } else { %>
	 					<td class="clickable fileAndUser" data-filename="<%= files[i]['filename'] %>" data-username="<%= files[i].users[j].username %>"><%= files[i].users[j].type %></td>
	 				<% } %>
	 			<% } %>
				<td></td>
		    </tr>
		<% } %>
	</table>

</div>
