<div id="header">
	<div id="headerText">
		RTCA Web Interface
	</div>
</div>
<div id="title">
    <div id="titleText">
    	<span class="repositoryViewButton clickable">Repositories</span> / <strong><%= repositoryAlias %></strong>
    </div>
</div>
<div id="view">
	<div class="tab">
		<div class="tabBar tabBarSelected">Inter-branch conflicts</div>
		<div class="tabBar">Branch merge conflicts</div>
	</div>
	<table id="fileConflicts">
	    <tr class="descriptors"><th>File</th><th>Branch</th><th>Involved Users</th></tr>
	    <tr class="heading"><td colspan="3">Inter-branch conflicts (<%= fileConflicts.length %>)</td></tr>
	<% for (var i = 0; i < fileConflicts.length; i++) { %>
	    <tr class="fileConflict clickable" data-filename="<%= fileConflicts[i]['filename'] %>">
	        <td class="blue"><%= fileConflicts[i]['filename'] %></td>
	        <td><%= fileConflicts[i]['branch'] %></td>
	        <td>
	        <% for (var j = 0; j < fileConflicts[i]['involvedUsers'].length; j++) { %>
	        	<span class="involvedUser"><%= fileConflicts[i]['involvedUsers'][j] %></span>
	        <% } %>
	        </td>
	    </tr>
	<% } %>
	</table>
</div>
