<div id="header">
	<div id="headerLogin">
		Logged in as <strong><%= login.username %></strong>
		<% if (login.isAdmin) { %> &mdash; <span id="manageUsers">Manage users</span><% } %>
	</div>
	<span id="headerLogo">RTCA Web Interface</span>
</div>
<div id="navigationBar">
	<span id="refresh">Refresh</span>
	<span id="navigationLocation"><span class="loadRepositoryView clickable">All Repositories</span> &mdash; Repository: <span class="loadBranchView clickable"><%= repositoryAlias %></span> &mdash; Branch: <strong><%= branch %></strong></span>
</div>
<div id="view">

	<table id="invisibleTable">
		<tr>
			<td>
				Filter users:<br>
				<select id="usersFilter" multiple>
					<option<% if (selectedUsers.length == 0) { %> selected<% } %>></option>
					<% for (var i = 0; i < repositoryUsers.length; i++) { %>
						<option value="<%= repositoryUsers[i] %>"<% if (selectedUsers.indexOf(repositoryUsers[i]) >= 0) { %> selected<% } %>><%= repositoryUsers[i] %></option>
					<% } %>
				</select>
			</td>
			<td>
				Compare with additional branches:<br>
				<select id="branchesFilter" multiple>
					<option<% if (selectedAdditionalBranches.length == 0) { %> selected<% } %>></option>
					<% for (var i = 0; i < repositoryBranches.length; i++) { %>
						<% if (repositoryBranches[i] == branch) continue; %>
						<option value="<%= repositoryBranches[i] %>"<% if (selectedAdditionalBranches.indexOf(repositoryBranches[i]) >= 0) { %> selected<% } %>><%= repositoryBranches[i] %></option>
					<% } %>
				</select>
			</td>
			<td>
				<input type="checkbox" id="uncommittedFilter"<% if (showUncommitted) { %> checked <% } %>><label for="uncommittedFilter">View uncommitted files</label>
			</td>
		</tr>
	</table>
	
	<table id="fileTable">
	</table>

</div>
