<h1>File Conflicts (<%= repositoryAlias %>)</h1>
<table id="repositories">
    <tr class="descriptors"><th>File</th><th>Branch</th><th>Involved Users</th></tr>
    <tr class="heading"><td colspan="3">Inter-branch conflicts (<%= fileConflicts.length %>)</td></tr>
<% for (var i = 0; i < fileConflicts.length; i++) { %>
    <tr class="repository clickable">
        <td class="blue"><%= fileConflicts[i]['filename'] %></td>
        <td><%= fileConflicts[i]['branch'] %></td>
        <td><span class="no"><%= fileConflicts[i]['username1'] %></span> <span class="no"><%= fileConflicts[i]['username2'] %></span></td>
        <!--<td><span class="yes">file conflict</span> <span class="no">no line conflict</span></td>-->
    </tr>
<% } %>
</table>
