<div id="header">
	<div id="headerLogin">
		Logged in as <strong><%= login.username %></strong>
		<% if (login.isAdmin) { %> &mdash; <span id="manageUsers">Manage users</span><% } %>
	</div>
	<span id="headerLogo">CloudStudio</span>
</div>
<div id="navigationBar">
	<span id="refresh">Refresh</span>
	<span id="navigationLocation"><strong>All Repositories</strong></span>
</div>
<div id="view">
	<table id="repositoryTable">
	    <tr><th>Alias</th><th>URL</th><th>Owner</th><th>Users</th></tr>
		<% for (var i = 0; i < repositories.length; i++) { %>
		    <tr class="repository clickable" data-alias="<%= repositories[i]['repositoryAlias'] %>">
		        <td><span class="blue"><%= repositories[i]['repositoryAlias'] %></span><% if (login.isAdmin || login.username == repositories[i]['repositoryOwner']) { %> <span class="modify deleteRepository" data-repositoryalias="<%= repositories[i]['repositoryAlias'] %>">del</span><% } %></td>
		        <td><span class="ellipsis"><%= repositories[i]['repositoryUrl'] %></span></td>
		        <td>
		        	<span class="user"><%= repositories[i]['repositoryOwner'] %></span>
		        	<% if (login.isAdmin || login.username == repositories[i]['repositoryOwner']) { %> <span class="modify modifyRepositoryOwner" data-repositoryalias="<%= repositories[i]['repositoryAlias'] %>">change</span><% } %>
	        	</td>
		        <td>
			        <% for (var j = 0; j < repositories[i]['users'].length; j++) { %>
			        	<span class="user"><%= repositories[i]['users'][j] %><% if (login.isAdmin || login.username == repositories[i]['repositoryOwner']) { %> <span class="modify deleteUserFromRepository" data-repositoryalias="<%= repositories[i]['repositoryAlias'] %>" data-username="<%= repositories[i]['users'][j] %>">del</span><% } %></span>
			        <% } %>
		        	<% if (login.isAdmin || login.username == repositories[i]['repositoryOwner']) { %><span class="modify addUserToRepository" data-repositoryalias="<%= repositories[i]['repositoryAlias'] %>">add</span><% } %>
		        </td>
		    </tr>
		<% } %>
	</table>
	<% if (login.isAdmin || login.isCreator) { %>
		<div id="createRepository">Create repository</div>
	<% } %>
</div>
