<div id="header">
	<div id="headerText">
		<div id="login">
			Logged in as: <strong><%= login.username %></strong>
			<% if (login.isAdmin) { %>(Administrator) &nbsp;|&nbsp; <span id="manageUsers">Manage users</span><% } %>
		</div>
		<span id="logo">RTCA Web Interface</span>
	</div>
</div>
<div id="title">
    <div id="titleText">
    	<span id="refresh">&#8635;</span>
    	<strong>Repositories</strong>
    </div>
</div>
<div id="view">
	<table id="repositories">
	    <tr class="descriptors"><th>Alias</th><th>URL</th><th>Users</th></tr>
	    <tr class="heading"><td colspan="3">Repositories (<%= repositories.length %>)</td></tr>
	<% for (var i = 0; i < repositories.length; i++) { %>
	    <tr class="repository clickable" data-alias="<%= repositories[i]['repositoryAlias'] %>">
	        <td class="blue"><%= repositories[i]['repositoryAlias'] %></td>
	        <td><%= repositories[i]['repositoryUrl'] %></td>
	        <td>
		        <% for (var j = 0; j < repositories[i]['users'].length; j++) { %>
		        	<span class="involvedUser"><%= repositories[i]['users'][j] %></span>
		        <% } %>
	        </td>
	    </tr>
	<% } %>
	</table>
</div>
