<div id="header">
	<div id="headerText">
		RTCA Web Interface
	</div>
</div>
<div id="title">
    <div id="titleText">
    	<span class="repositoryViewButton clickable">Repositories</span> / <strong><%= repositoryAlias %></strong>
    </div>
</div>
<div id="view">
	Branch:
	<select id="filterBranch">
	<% for (var i = 0; i < repositoryInformation.repositoryBranches.length; i++) { %>
		<option value="<%= repositoryInformation.repositoryBranches[i] %>"><%= repositoryInformation.repositoryBranches[i] %></option>
	<% } %>
	</select>
	<br><br>
	Filter users:
	<select id="filterUsers" multiple>
	<% for (var i = 0; i < repositoryInformation.repositoryUsers.length; i++) { %>
		<option value="<%= repositoryInformation.repositoryUsers[i] %>" selected><%= repositoryInformation.repositoryUsers[i] %></option>
	<% } %>

	</select>
	<br><br>
	View uncommitted:
	<input type="checkbox" id="filterViewUncommitted">
	<br><br>
	Compare additional branches:
	<select id="filterAdditionalBranches" multiple>
	<% for (var i = 0; i < repositoryInformation.repositoryBranches.length; i++) { %>
		<option value="<%= repositoryInformation.repositoryBranches[i] %>"><%= repositoryInformation.repositoryBranches[i] %></option>
	<% } %>
	</select>
	<br><br>
	<div id="submitFilter"><strong>Go!</strong></div>

	<div id="conflicts">

	</div>
</div>
