
	<table id="branchList">
		<tr>
			<th>Branch</th>
			<th>Working On This Branch (Last Update)</th>
			<th>Relationship To Origin</th>
		</tr>

		<% for (var i = 0; i < branches.length; i++) { %>

			<tr class="branchListItem" data-branch="<%= branches[i]['branch'] %>">
				<td class="branchListBranchName"><%= branches[i]['branch'] %></td>
				<td>
					<% for (var j = 0; j < branches[i].activeUsers.length; j++) { %>

						<span class="user"><%= branches[0].activeUsers[j].username %> (<%= branches[0].activeUsers[j].lastUpdateDiff %>)</span>

					<% } %>
				</td>
				<td>
					<h1>Up to date</h1>
					<p>
						<% for (var j = 0; j < branches[i].users.length; j++) { %>

							<% if (branches[i].users[j].relationWithOrigin == 'EQUAL') { %>
								<span class="user userGreen"><%= branches[0].users[j].username %></span>
							<% } %>

						<% } %>
					</p>

					<h1>Behind origin</h1>
					<p>
						<% for (var j = 0; j < branches[i].users.length; j++) { %>

							<% if (branches[i].users[j].relationWithOrigin == 'BEHIND') { %>
								<span class="user userRed"><%= branches[0].users[j].username %></span>
							<% } %>

						<% } %>
					</p>
					<h1>Made new commits</h1>
					<p>
						<% for (var j = 0; j < branches[i].users.length; j++) { %>

							<% if (branches[i].users[j].relationWithOrigin == 'AHEAD' || branches[i].users[j].relationWithOrigin == 'FORK') { %>
								<span class="user userYellow"><%= branches[0].users[j].username %> (<% if (branches[i].users[j].relationWithOrigin == 'AHEAD') { %>+<% } else { %>&plusmn;<% } %><%= branches[0].users[j].distanceFromOrigin %>)</span>
							<% } %>

						<% } %>
					</p>
					<h1>Local branch</h1>
					<p>
						<% for (var j = 0; j < branches[i].users.length; j++) { %>

							<% if (branches[i].users[j].relationWithOrigin == 'LOCAL_BRANCH') { %>
								<span class="user"><%= branches[0].users[j].username %></span>
							<% } %>

						<% } %>
					</p>
				</td>
			</tr>

    	<% } %>

	</table>
<!--
	    <tr>
	    	<th>Branch (vs. origin)</th>
	    	<% if (branches.length > 0) { %>
	 			<% for (var j = 0; j < branches[0].users.length; j++) { %>
	 				<% if (selectedUsers.length > 0 && selectedUsers.indexOf(branches[0].users[j].username) < 0) continue; %>
	 				<th><span class="user"><%= branches[0].users[j].username %></span></th>
	 			<% } %>
	    	<% } %>
	    	<th></th>
    	</tr>
		<% for (var i = 0; i < branches.length; i++) { %>
		    <tr class="branch clickable" data-branch="<%= branches[i]['branch'] %>">
		        <td><span class="blue"><%= branches[i]['branch'] %></span></td>
	 			<% for (var j = 0; j < branches[i].users.length; j++) { %>
	 				<% if (selectedUsers.length > 0 && selectedUsers.indexOf(branches[i].users[j].username) < 0) continue; %>
	 				<% if (branches[i].users[j].relationWithOrigin == 'equal') { %><td class="branchEqual">
	 				<% } else if (branches[i].users[j].relationWithOrigin.match(/in front$/)) { %><td class="branchInFront">
	 				<% } else if (branches[i].users[j].relationWithOrigin.match(/behind$/)) { %><td class="branchBehind">
	 				<% } else { %><td><% } %>
	 				<%= branches[i].users[j].relationWithOrigin %></td>
	 			<% } %>
	 			<td></td>
		    </tr>
		<% } %>
-->