	<div id="contentDiffHeader">
		<div>Me</div>
		<div>Common Ancestor</div>
		<div><span class="userSmall"><%= theirUsername %></span></div>
	</div>

	<table id="contentDiff">
		<tr>
			<td class="diffNumberColumn">
				<% var myCount = 1; for (i = 0; i < content.length; i++) { %>
					<% if (content[i].myType != 'pad' && content[i].myType != 'modifiedpad') { %><div class="diffNumber"><%= myCount %></div><% myCount++ %>
					<% } else { %><div class="diffNumber">&nbsp;</div><% } %>
				<% } %>
			</td>

			<td>
				<div class="diffBox">
				<% for (i = 0; i < content.length; i++) { %>
					<% if (((content[i].myType == 'modified' || content[i].myType == 'modifiedpad') && (content[i].baseType == 'modified' || content[i].baseType == 'modifiedpad') && (content[i].theirType == 'modified' || content[i].theirType == 'modifiedpad')) || (!(content[i].myType == 'modified' || content[i].myType == 'modifiedpad') && (content[i].baseType == 'modified' || content[i].baseType == 'modifiedpad') && !(content[i].theirType == 'modified' || content[i].theirType == 'modifiedpad'))) { %><div class="diffLine diffConflict">
					<% } else if (content[i].myType == 'pad') { %><div class="diffLine diffPad">
					<% } else if (content[i].myType == 'modified' || content[i].myType == 'modifiedpad') { %><div class="diffLine diffModify">
					<% } else { %><div class="diffLine"><% } %>
						<%= content[i].myContent %>&nbsp;
					</div>
				<% } %>
				</div>
			</td>

			<td class="diffNumberColumn">
				<% var myCount = 1; for (i = 0; i < content.length; i++) { %>
					<% if (content[i].baseType != 'pad' && content[i].baseType != 'modifiedpad') { %><div class="diffNumber"><%= myCount %></div><% myCount++ %>
					<% } else { %><div class="diffNumber">&nbsp;</div><% } %>
				<% } %>
			</td>

			<td>
				<div class="diffBox">
				<% for (i = 0; i < content.length; i++) { %>
					<% if (((content[i].myType == 'modified' || content[i].myType == 'modifiedpad') && (content[i].baseType == 'modified' || content[i].baseType == 'modifiedpad') && (content[i].theirType == 'modified' || content[i].theirType == 'modifiedpad')) || (!(content[i].myType == 'modified' || content[i].myType == 'modifiedpad') && (content[i].baseType == 'modified' || content[i].baseType == 'modifiedpad') && !(content[i].theirType == 'modified' || content[i].theirType == 'modifiedpad'))) { %><div class="diffLine diffConflict">
					<% } else if (content[i].baseType == 'pad') { %><div class="diffLine diffPad">
					<% } else if (content[i].baseType == 'modified' || content[i].baseType == 'modifiedpad') { %><div class="diffLine diffModify">
					<% } else { %><div class="diffLine"><% } %>
						<%= content[i].baseContent %>&nbsp;
					</div>
				<% } %>
				</div>
			</td>

			<td class="diffNumberColumn">
				<% var myCount = 1; for (i = 0; i < content.length; i++) { %>
					<% if (content[i].theirType != 'pad' && content[i].theirType != 'modifiedpad') { %><div class="diffNumber"><%= myCount %></div><% myCount++ %>
					<% } else { %><div class="diffNumber">&nbsp;</div><% } %>
				<% } %>
			</td>

			<td>
				<div class="diffBox">
				<% for (i = 0; i < content.length; i++) { %>
					<% if (((content[i].myType == 'modified' || content[i].myType == 'modifiedpad') && (content[i].baseType == 'modified' || content[i].baseType == 'modifiedpad') && (content[i].theirType == 'modified' || content[i].theirType == 'modifiedpad')) || (!(content[i].myType == 'modified' || content[i].myType == 'modifiedpad') && (content[i].baseType == 'modified' || content[i].baseType == 'modifiedpad') && !(content[i].theirType == 'modified' || content[i].theirType == 'modifiedpad'))) { %><div class="diffLine diffConflict">
					<% } else if (content[i].theirType == 'pad') { %><div class="diffLine diffPad">
					<% } else if (content[i].theirType == 'modified' || content[i].theirType == 'modifiedpad') { %><div class="diffLine diffModify">
					<% } else { %><div class="diffLine"><% } %>
						<%= content[i].theirContent %>&nbsp;
					</div>
				<% } %>
				</div>
			</td>
		</tr>

	</table>
