<div id="navigationBar">
	<div id="navigationBarLocation">Location: <span class="loadRepositoryView clickable">Repository Overview</span> &mdash; Repository: <span class="loadBranchView clickable"><%= repositoryAlias %></span> &mdash; Branch: <strong><%= branch %></strong></div>
	<div id="navigationBarLogin">Logged in as <strong><%= login.username %></strong></div>
</div>
<div id="titleBar">
	File Level Awareness
</div>

<div id="filterBox">
	<div class="filterBoxBlock">
		Filter users:<br>

		<select id="usersFilter" multiple>
			<option<% if (selectedUsers.length == 0) { %> selected<% } %>></option>
			<% for (var i = 0; i < repositoryUsers.length; i++) { %>
				<% if (repositoryUsers[i] == 'origin') continue; %>
				<option value="<%= repositoryUsers[i] %>"<% if (selectedUsers.indexOf(repositoryUsers[i]) >= 0) { %> selected<% } %>><%= repositoryUsers[i] %></option>
			<% } %>
		</select>

	</div>
	<div class="filterBoxBlock filterBoxCompareTo">
		Compare to branch:<br>
		<select id="compareToBranchFilter">
			<% for (var i = 0; i < repositoryBranches.length; i++) { %>
				<option value="<%= repositoryBranches[i] %>"<% if (repositoryBranches[i] == compareToBranch) { %> selected<% } %>><%= repositoryBranches[i] %></option>
			<% } %>
		</select>
	</div>
	<div class="filterBoxBlock filterBoxCheckboxes">
		<input type="checkbox" id="uncommittedFilter"<% if (showUncommitted) { %> checked <% } %>><label for="uncommittedFilter">View uncommitted files</label><br>
		<input type="checkbox" id="conflictsFilter"<% if (showConflicts) { %> checked <% } %>><label for="conflictsFilter">View content conflicts</label>
	</div>
	<div class="filterBoxBlock">
		Severity filter:<br>
		<select id="severityFilter">
			<option value="ALL"<% if (severityFilter == 'ALL') { %> selected <% } %>>All</option>
			<option value="FILE_CONFLICT"<% if (severityFilter == 'FILE_CONFLICT') { %> selected <% } %>>File conflicts</option>
			<option value="CONTENT_CONFLICT"<% if (severityFilter == 'CONTENT_CONFLICT') { %> selected <% } %>>Content Conflicts</option>
		</select>
	</div>
</div>

<div id="fileListContainer"></div>
