<div id="navigationBar">
	<div id="navigationBarLocation">Location: <span class="loadRepositoryView clickable">Repository Overview</span> &mdash; Repository: <span class="loadBranchView clickable"><%= repositoryAlias %></span> &mdash; Branch: <strong><%= branch %></strong></div>
	<div id="navigationBarLogin">Logged in as <strong><%= login.username %></strong></div>
</div>
<div id="titleBar">
	File Level Awareness
</div>

<div id="filterBox">
	<div id="filterBoxBlock">
		Filter users: <%= JSON.stringify(repositoryUsers) %>
	</div>
	<div id="filterBoxBlock">
		Compare to: <%= JSON.stringify(repositoryBranches) %>
	</div>
</div>

<div id="fileListContainer"></div>
