<div id="navigationBar">
	<div id="navigationBarLocation">Location: <strong>User Management</strong></div>
	<div id="navigationBarLogin">Logged in as <strong><%= login.username %></strong></div>
</div>
<div id="titleBar">
	Create Repository
</div>

<div id="userListContainer">
	<div id="userListHeader">
		<div>Username</div>
		<div>Administrator Privileges</div>
		<div>Repository Creation Privileges</div>
		<div>Joined</div>
	</div>
	<table id="userList">
		<% for (var i = 0; i < users.length; i++) { %>
		    <tr data-alias="<%= users[i]['username'] %>" class="userListItem">
		        <td><%= users[i]['username'] %> <span class="modify deleteUser" data-username="<%= users[i]['username'] %>">Remove</span></td>
		        <td>
		        	<% if (users[i]['isAdmin']) { %>
        				<span class="yes">Yes</span>
	        			<span class="modify revokeUserAdmin" data-username="<%= users[i]['username'] %>">Toggle</span>
        			<% } else { %>
        				<span class="no">No</span>
	        			<span class="modify makeUserAdmin" data-username="<%= users[i]['username'] %>">Toggle</span>
    				<% } %>
				</td>
		        <td>
		        	<% if (users[i]['isCreator']) { %>
        				<span class="yes">Yes</span>
	        			<span class="modify revokeUserCreator" data-username="<%= users[i]['username'] %>">Toggle</span>
        			<% } else { %>
        				<span class="no">No</span>
	        			<span class="modify makeUserCreator" data-username="<%= users[i]['username'] %>">Toggle</span>
    				<% } %>
				</td>
				<td><%= users[i]['joinDate'] %></td>
		    </tr>
		<% } %>
	</table>
</div>
