<div id="header">
	<div id="headerLogin">
		Logged in as <strong><%= login.username %></strong>
		<% if (login.isAdmin) { %> &mdash; <span id="manageUsers">Manage users</span><% } %>
	</div>
	<span id="headerLogo">CloudStudio</span>
</div>
<div id="navigationBar">
	<span id="refresh">Refresh</span>
	<span id="navigationLocation"><strong>User management</strong></span>
</div>
<div id="view">
	<table id="userTable">
	    <tr><th>Username</th><th>Administrator</th><th>Create repositories</th><th></th></tr>
		<% for (var i = 0; i < users.length; i++) { %>
		    <tr data-alias="<%= users[i]['username'] %>">
		        <td><span class="user"><%= users[i]['username'] %> <span class="modify deleteUser" data-username="<%= users[i]['username'] %>">del</span></span></td>
		        <td>
		        	<% if (users[i]['isAdmin']) { %>
	        			<strong>Yes</strong>
	        			<span class="modify revokeUserAdmin" data-username="<%= users[i]['username'] %>">toggle</span>
        			<% } else { %>
        				No
	        			<span class="modify makeUserAdmin" data-username="<%= users[i]['username'] %>">toggle</span>
    				<% } %>
				</td>
		        <td>
		        	<% if (users[i]['isCreator']) { %>
	        			<strong>Yes</strong>
	        			<span class="modify revokeUserCreator" data-username="<%= users[i]['username'] %>">toggle</span>
        			<% } else { %>
        				No
	        			<span class="modify makeUserCreator" data-username="<%= users[i]['username'] %>">toggle</span>
    				<% } %>
				</td>
				<td></td>
		    </tr>
		<% } %>
	</table>
</div>
