<div id="navigationBar">
	<div id="navigationBarLocation">Location: <span class="loadRepositoryView clickable">Repository Overview</span> &mdash; Repository: <strong>User Management</strong></div>
	<div id="navigationBarLogin">Logged in as <strong><%= login.username %></strong></div>
</div>
<div id="titleBar">
	Create Repository
</div>

<div id="userListContainer">
	<div id="userListHeader">
		<div>Username</div>
		<div>Administrator Priveleges</div>
		<div>Creator Privileges</div>
		<div>Joined</div>
	</div>
	<table id="userList">
		<% for (var i = 0; i < users.length; i++) { %>
		    <tr data-alias="<%= users[i]['username'] %>" class="userListItem">
		        <td><span class="user"><%= users[i]['username'] %></span> <span class="modify deleteUser" data-username="<%= users[i]['username'] %>">(Remove)</span></td>
		        <td>
		        	<% if (users[i]['isAdmin']) { %>
	        			<strong>Yes</strong>
	        			<span class="modify revokeUserAdmin" data-username="<%= users[i]['username'] %>">(Toggle)</span>
        			<% } else { %>
        				No
	        			<span class="modify makeUserAdmin" data-username="<%= users[i]['username'] %>">(Toggle)</span>
    				<% } %>
				</td>
		        <td>
		        	<% if (users[i]['isCreator']) { %>
	        			<strong>Yes</strong>
	        			<span class="modify revokeUserCreator" data-username="<%= users[i]['username'] %>">(Toggle)</span>
        			<% } else { %>
        				No
	        			<span class="modify makeUserCreator" data-username="<%= users[i]['username'] %>">(Toggle)</span>
    				<% } %>
				</td>
				<td><%= users[i]['joinDate'] %></td>
		    </tr>
		<% } %>
	</table>
</div>
